.Wrapper {
    display: block;
}

.Button {
    outline: none;
    background: rgba(255, 255, 255, 0.25);

    padding: 1.2rem 1.8rem;
    border: .5rem solid #eee;
    color: #fff;

    transition: all .3s ease-out;
    text-transform: uppercase;
}

.Dark {
    background: transparent;
    border: .5rem solid #eee;
    color: #3B3939;
}

.Button:hover {
    box-shadow: 0 0 1.2rem 0 rgba(255, 255, 255, 0.5);
    transform: translateY(-.3rem);
}