.Header { 
    padding: 3.2rem;
    background-color: #eee;
}

.HeaderContent {
    width: 76.8rem;
    margin: auto;
}

.HeaderContent h2 {
    font-family: 'Nanum Myeongjo', serif;
}

.HeaderContent p {
    font-family: 'Petrona', serif;
}

@media only screen and (max-width: 768px) {
    .HeaderContent {
      width: 100%;
      text-align: justify;
    }

    .Content {
        width: 100% !important;
    }
}

@media only screen and (max-width: 1200px) {
    .Content {
        max-width: 76.8rem;
        margin: auto;
        margin-bottom: 12.8rem;
        display: flex;
        flex-direction: column;
    }

    .Process {
        flex-direction: column;
    }

    .Process > div {
        border-left: 2px dotted #E3CCCD;
        border-right: 2px dotted #E3CCCD;
        padding-left: 3.2rem;
        padding-right: 3.2rem;
    } 
}

.Content {
    width: 120rem;
    margin: auto;
    margin-top: 6.4rem;
    margin-bottom: 12.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Process {
    display: flex;
    align-items: flex-start;
}

.Content h1 {
    text-align: center;
    font-family: 'Petrona', serif;
    font-weight: normal;
}

.Content h3 {
    font-family: 'Petrona', serif;
    font-weight: normal;
    font-size: 2.2rem;
}
    
.Content p {
    font-weight: normal;
    font-size: 1.4rem;
}

.Process > * {
    flex: 1;
    margin: 1.2rem;
}

.Process img {
    margin-top: 1.2rem;
    max-width: 100%;
    padding: 1.2rem;
    background-color: white;
    border: 1px solid #eee;
    filter: drop-shadow(0 .4rem .8rem rgba(0,0,0,0.2));
}

.Process div:nth-child(2) {
    border-left: .2rem dotted #E3CCCD;
    border-right: .2rem dotted #E3CCCD;
    padding-left: 3.2rem;
    padding-right: 3.2rem;
} 

.Pricing {
    margin-top: 3.2rem;
    max-width: 76.8rem;
}

.Pricing {
    text-align: left;
}

.Pricing h1 {
    border-bottom: .2rem dotted #E3CCCD;
    font-family: 'Petrona', serif;
    font-weight: normal;
    padding: 3.2rem;
}

.Pricing > div {
    padding: 3.2rem;
}
